
@import 'shared.styles';

html, body, .app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app {
    overflow: auto;
}

body {
    min-height: 100%;
    overflow: hidden;
    background-color: #eee;
    font-size: $desktop-font-size;
    @include respond-to(mobile) {
        font-size: $tablet-font-size;
    }
    @include respond-to(mobile) {
        font-size: $mobile-font-size;
    }
}

* {
    font-family: $main-font;
}

@include respond-to(not-mobile) {
    .mobile-only,
    .mobile {
        display: none !important;
    }
}

@include respond-to(not-tablet) {
    .tablet-only,
    .tablet {
        display: none !important;
    }
}

@include respond-to(not-desktop) {
    .desktop-only,
    .desktop {
        display: none !important;
    }
}

@include respond-to(desktop) {
    .not-desktop {
        display: none !important;
    }
}

@include respond-to(tablet) {
    .not-tablet,
    .desktop-only {
        display: none !important;
    }
}

@include respond-to(mobile) {
    .not-mobile,
    .desktop-only {
        display: none !important;
    }
}

.overlay-backdrop {
    background-color: rgba(#000, .54);
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1em auto;
    width: 24em;
    min-height: 10em;
    padding: 1em;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(#000, .2), 0 1px 1px 0 rgba(#000, .14), 0 2px 1px -1px rgba(#000, .12);

}

button {
    font-size: 1em;
    padding: .5em 1em;
    border-radius: 4px;
    min-width: 12em;
    background-color: #1E88E5;
    color: #fff;
    margin: .25em;
}
