{
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      ["@semantic-release/npm", {
        "pkgRoot": "dist/library"
      }],
      ["@semantic-release/git", {
        "assets": ["package.json", "npm-shrinkwrap.json"]
      }]
    ]
}